.footer {
    height: 20vh;
    border-top: #474747 1px solid;
    font-family: fantasy;
    color: #FFF;
    text-shadow: #ffffffcb;
    letter-spacing: 1px;

    .logo img {
        width: 200px;
    }
}