<header th:fragment="header" class="d-flex align-items-center header w-100">
    <div class="container">
        <div class="row">
          <div class="col-3">
            <a href="/" class="logo">
                <img src="/images/logo.png" alt="Logo">
            </a>
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center gap-5">
            <div>
              <a class="text-decoration-none white-text-color" th:href="@{/#quem-somos}">
                Nossa missão
              </a>
            </div>
            <div>
              <a class="text-decoration-none white-text-color" th:href="${usuarioLogado == null ? '/login' : '/usuario/' + usuarioLogado.id}">
                Minha conta
              </a>
            </div>
            <div>
              <a class="text-decoration-none white-text-color" th:href="@{/usuario/editar/1}">
                EDITAR (REMOVER DEPOIS)
              </a>
            </div>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <a class="text-decoration-none white-text-color" th:href="@{/doacao}">
              Gerenciar
            </a>
          </div>
        </div>
      </div>
</header>